.sidebar {
	flex: 0.9;
	background: white;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
	border-right: 1px solid lightgrey;
	height: 93vh;
}
.darktheme {
	flex: 0.7;
	background: linear-gradient(
		hsl(12, 6%, 16%) 60%,
		hsl(219, 61%, 14%)
	) !important;

	color: lightgrey !important;
	box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
	border-right: 1px solid lightgrey;
	height: 93vh;
}
.sidebar__page {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 100%;
	margin-top: 0.7rem;
}
.sidebar__links {
	list-style: none;
	cursor: pointer;
	text-decoration: none;
	&:hover {
		color: rgb(86, 61, 61);
	}
}
.sidebar__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
}

p {
	font-size: 0.9rem;
	font-weight: bold;
	font-family: 'sans' serif;
	text-align: left;
	border-bottom: 1px solid lightgrey;
}
.title {
	color: rgb(144, 141, 141);
	opacity: 0.8;
}

/* For Mobile phones */
@media screen and (max-device-width: 480px) and (min-device-width: 320px) {
	.sidebar {
		display: none !important;
	}
}

/* For tablet and ipad */
@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
	.sidebar {
		display: none !important;
	}
}
/* For laptop and ipad */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
	.sidebar {
		flex: 0.7;
		background: white;
		display: block !important;
	}
}
/* For Desktop and Large-size screen */
@media screen and (min-device-width: 1024px) and (max-device-width: 1200px) {
	.sidebar {
		flex: 0.7;
		background: white;
		display: block !important;
	}
}
/* For Desktop and Large-size screen */
@media screen and (min-device-width: 1200px) {
	.sidebar {
		background: white;
		flex: 0.7;
		display: block !important;
	}
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1280px) {
	.sidebar {
		flex: 0.7;
		background: white;
		display: none !important;
	}
}
