@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Poppins:wght@200&family=Tajawal:wght@700&display=swap');
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
$breakpoint-desktop: 1200px;
$breakpoint-lgdesktop: 1480px;
@mixin phone($breakpoint-phone) {
	@media (max-width: $breakpoint-phone) {
		@content;
	}
}

// tablet mixin
@mixin tablet($breakpoint-phone) {
	@media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
		@content;
	}
}
// laptop mixin
@mixin laptop($breakpoint-tablet) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin desktop($breakpoint-laptop) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin lgdesktop($breakpoint-desktop) {
	@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-laptop) {
		@content;
	}
}
// laptop mixin
@mixin lg($breakpoint-lgdesktop) {
	@media (min-width: $breakpoint-lgdesktop) {
		@content;
	}
}

.auth_page {
	flex: 7;
	display: flex;
	justify-content: center;
	min-height: 90vh;
	align-items: center;
	background-image: url('../assets/logone.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative !important;
	font-family: 'Sofia Sans', sans-serif !important;
	.login {
		background: rgb(21, 177, 229);
		border: none;
		color: white;
		&:hover {
			background: rgb(7, 34, 92);
		}
	}
	.profile__pic {
		text-align: center !important;
		width: 100% !important;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 26%;
			height: 26%;
			border-radius: 100%;
			margin: 0.6rem;
		}
	}

	.form__page {
		display: flex !important;
		flex-direction: row !important;
		width: 80%;
		box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
			rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
			rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset !important;

		min-height: 65vh;

		.form {
			width: 100% !important;
			height: 30%;
			p {
				color: yellow;
			}
			.error__message {
				text-decoration: none !important;
				font-size: 15px !important;
			}
			h6 {
				width: 90%;
			}
			button {
				text-transform: none !important;
				margin: 2rem 10% 1rem 10% !important;
				width: 70%;
				color: white;
				border: none;
				background: rgb(228, 123, 37);
				transition: all 0.3s ease-in;
				&:hover {
					background: rgb(74, 58, 6);
					color: white;
					border: none;
				}
			}
			.back_icon {
				cursor: pointer;
				top: 0.5rem;
				left: 1rem;
				background: lightgrey;
				border-radius: 100%;
				width: 1.7rem;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 1.7rem;
				&:hover {
					color: rgb(120, 82, 11);
				}
			}
			.form-group {
				input {
					width: 100%;
					padding: 0.6rem;
					margin: 3.2rem 0 0 0 !important;
					outline: none !important;
					outline-width: 0 !important;
					border: none !important;
					border-bottom: 1px solid lightgrey !important;
					border-radius: none !important;
					font-family: 'Poppins', sans-serif;
					&:focus,
					&:focus-visible {
						outline-width: 0 !important;
					}
				}
				select {
					width: 90%;
					padding: 0.6rem;
					margin: 1.2rem 0 0.6rem 0 !important;
					outline: none !important;
					outline-width: 0 !important;
					border: none !important;
					border-bottom: 1px solid lightgrey !important;
					border-radius: none !important;
					font-family: 'Poppins', sans-serif;
				}
			}
			.bg-primary {
				&:hover {
					background: rgb(84, 150, 224) !important;
				}
			}
		}
		.form__left {
			flex: 4.5;
			background: black;
			min-height: 100%;
			// animation
			.description {
				color: rgb(19, 61, 232);
				background: rgb(223, 198, 198);
				padding: 0.9rem;
				font-family: 'Josefin Sans', sans-serif;

				font-family: 'Poppins', sans-serif;

				font-family: 'Tajawal', sans-serif;
				font-weight: 400;
				width: 100%;
				margin-top: -1rem;
			}
			.wrapper {
			}
			.static-txt {
				font-size: 40px;
				color: white;
				font-weight: 400;
				font-family: 'Sofia Sans', sans-serif;
				top: calc(100% + 10px) !important;
			}
			.wrapper .dynamic-txts {
				margin-left: -20px;
				line-height: 90px;
				width: 60% !important;
				height: 90px;
				overflow: hidden;
			}
			.dynamic-txts li {
				font-family: 'Poppins', sans-serif;
				color: rgb(249, 242, 243);
				list-style: none;
				font-size: 40px;
				font-weight: 800 !important;
				position: relative;
				top: 0;
				animation: slide 12s steps(4) infinite;
			}
			@keyframes slide {
				100% {
					top: -360px;
				}
			}
			.dynamic-txts li::after {
				content: '';
				position: absolute;
				left: 0;
				height: 100%;
				background: rgb(3, 4, 4);
				width: 100% !important;
				border-left: 2px solid rgb(3, 4, 4);
				animation: typing 3s steps(8) infinite;
			}
			@keyframes typing {
				40%,
				60% {
					left: calc(100% + 60px);
				}
				100% {
					left: 0;
				}
			}
		}
		.form__right {
			background-image: url('../assets/regme.jpg');
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			display: flex;
			justify-content: center;
			align-items: center;
			flex: 5.5;
			.regist {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				height: 100%;
				transition: all 0.5s ease-in-out;

				.btn {
					background: rgb(29, 184, 212);
					padding: 1rem;
					width: 35%;
					&:hover {
						background-color: rgb(194, 191, 12);
					}
				}
				.login__head {
					color: rgb(233, 238, 226);
					background: rgb(153, 22, 401);
					margin: 1rem !important;
					float: left;
					&:hover {
						color: rgb(244, 242, 244) !important;
						cursor: pointer;
						background: rgb(22, 162, 201);
					}
				}
			}
		}
		.form__center {
			display: flex;
			position: relative;
			justify-content: center;
			margin-top: -9rem;
			align-items: center;
			width: 60%;
			height: 100%;
		}
	}
	.form__login {
		width: 27rem !important;
		padding: 2rem;
		position: absolute !important;

		color: white;
		// background-image:url('../assets/register.jpg');
		.more_auth {
			h6:not(:first-child) {
				&:hover {
					color: rgb(39, 207, 20) !important;
				}
			}
			h6 {
				&:hover {
					color: orange !important;
				}
			}
			input[type='checkbox'] {
				border: none !important;
			}
		}
		.input {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 90%;
			border: 1px solid grey;
			margin: 0.6rem;
			border-radius: 15px;
			background: rgb(200, 197, 197);
			padding: 0.4rem;

			input {
				margin-left: 0.5rem;
				width: 100%;
				outline-width: 0 !important;
				border: none;
				background: inherit;
				color: rgb(136, 12, 219);
				font-weight: bold;
			}

			input:focus {
				outline: none;
			}
		}
		button {
			text-transform: none !important;
			margin: 2rem 5% 1rem 30% !important;
			width: 30% !important;
			color: white !important;
			border: none !important;
			background: rgb(228, 123, 37) !important;
			transition: all 0.3s ease-in !important;
			&:hover {
				background: rgb(158, 17, 176) !important;
				color: white !important;
				border: none;
			}
		}
		label {
			margin-left: 1.1em;
		}
	}
}
.admin__log {
	min-height: 100vh;
	background-image: url('../assets/regme.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	.form__class {
		max-width: 30rem;
		.form-group {
			width: 100%;
			padding: 1rem;
			.form-inputs {
				width: 100%;

				input {
					margin: 1rem auto;
					width: 100%;
					padding: 0.7rem;
					color: rgb(218, 23, 172);
					background: lightgrey;
					border-radius: 20px;
					&:focus {
						outline: none;
					}
				}
				select {
					margin: 1rem auto;
					width: 100%;
					padding: 0.7rem;
					border-radius: 10px;
					color: rgb(218, 23, 172);
				}

				button {
					width: 70%;
					background: orange;
					margin: 0.8rem auto;

					&:not(:first-child) {
						width: 70%;
						background: orange !important;
						margin: 0.8rem auto;
					}
				}
			}
		}
	}
}
/* For Mobile phones */
@include phone($breakpoint-tablet) {
	.auth_page {
		.form {
			width: 100% !important;

			height: 95%;
			padding: -0.7rem;
			color: black !important;
			input,
			label {
				font-size: 0.7rem;
			}
			span {
				color: yellow !important;
			}
			.state {
				margin-top: -1rem;
			}
			select {
				font-size: 0.6rem;
			}
			h2 {
				color: yellow;
				font-size: 1.3rem !important;
			}
			.error__message {
				text-decoration: none !important;
				font-size: 15px !important;
			}
			h3 {
				color: yellow;
				font-size: 1.2rem !important;
			}
			.submit {
				margin-top: -2rem !important;
				font-size: 0.9rem !important;
			}
			.foot {
				span {
					color: purple !important;
					font-size: 0.8rem !important;
				}
			}
		}
		.form__login {
			width: 70% !important;
			background-image: url('../assets/register.jpg');
			padding: -0.7rem;
			color: black !important;
			input,
			label {
				font-size: 0.7rem;
			}
			input {
				margin-top: -0.12rem !important;
			}
			h2 {
				color: yellow;
				font-size: 1.3rem !important;
			}
			h3 {
				color: yellow;
				font-size: 1.2rem !important;
			}
			.submit {
				margin-top: -2rem !important;
				font-size: 0.9rem !important;
			}
			.foot {
				span {
					color: purple !important;
					font-size: 0.8rem !important;
				}
			}
		}
		.form__left {
			display: none;
		}
		.form__right {
			width: 100vw;
			margin: 0 auto;
			background: none !important;
			height: 95vh;
			.form__center {
				margin-top: -6 !important;
			}
		}
	}
}
/* For tablets and large phones */
@include tablet($breakpoint-phone) {
}
