@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.header {
	min-height: 4vh;
	background: white;
	max-width: 100%;
	margin: auto;
}
.menu img {
	width: 90px;
	height: 90px;

	border-radius: 50%;
}
.menu {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: 2rem;
	flex: 5;
}
.disabled {
	pointer-events: none;
	opacity: 0.4;
	padding: 0.7rem;
	list-style: none;
	text-decoration: none;
	font-family: serif;
	font-weight: bold;

	margin: 0 auto;
}
.active {
	cursor: pointer;
	opacity: 1;
	background: white;
}
.logo {
	display: flex;
	flex: 4;
	align-items: center;
}
.lessnav {
	display: flex;
	background: white;

	margin-top: 1.2rem;
	flex-direction: column;
	position: absolute;
}
.mynav {
	display: flex;
	align-items: center;
	flex: 8;
}
.hide {
	display: none;
}

img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
}
.d-block {
	display: block;
	flex: 2;
}
.d-none {
	display: none;
}
.disabled {
	pointer-events: none;
	opacity: 0.5;
}
.nav {
	flex: 1.5 !important;
	padding: 0.6rem !important;
}
.item {
	padding: 0.7rem;
	list-style: none;
	text-decoration: none;
	font-family: serif;
	font-weight: bold;

	margin: 0 auto;
	opacity: 1;
	color: green;
}
.about,
.contacts {
	display: none;
}

.avatar {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: red;
	text-align: center;
	font-size: 1.4rem;
	font-family: georgia;
	margin-left: 5rem;
	cursor: pointer;
}
.logout {
	display: block;
}
.none {
	display: 'none';
}

.disabled {
	padding: 0.7rem;
	list-style: none;
	text-decoration: none;
	font-family: serif;
	font-weight: bold;
	opacity: 0.4;
	color: grey !important;

	pointer-events: none;
}

.acti {
	color: white;
	padding: 1rem;
	border: 1px solid gray;
	text-align: center;
	cursor: pointer;
}
.inacti {
	color: white;
	padding: 1rem;
	cursor: pointer;
	text-align: center;
}
.theming {
	margin-left: 1rem;
}

.title__name {
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	color: #fff;
	text-align: center;
	letter-spacing: 5px;
	text-shadow: 2px -3px 20px #a51e62, -2px 1px 30px #ff99cc;
}
.first {
	font-family: 'Ubuntu', sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #dfdfdf;
	text-align: center;
	letter-spacing: 5px;
	text-shadow: 1px 2px 0px rgb(125, 13, 13),
		-4px 0 2px rgb(157, 26, 201), 7px 4px 0 rgb(194, 21, 21);
	cursor: pointer;
}
.second {
	font-size: 18px;
	text-shadow: -1px 1px 0 #41ba45, 1px 1px 0 #c63d2b,
		1px -1px 0 #42afac, -1px -1px 0 #c6c23f;
	color: yellow;
}
.third {
	font-size: 17px;
	text-shadow: -1px 1px 0 #41ba45, 1px 1px 0 #c63d2b,
		1px -1px 0 #a58f0e, -1px -1px 0 #821111;
	color: rgb(0, 255, 119);
}
.first:first-letter {
	font-size: 20% !important;
}
/* For tablet and ipad */
@media screen and (min-width: 480px) and (max-width: 768px) {
	.menu {
		display: none;
	}
	.theming {
		display: none;
	}
	.userdata {
		display: none;
	}
	.navbrand {
		flex: 9 !important;
		font-family: Times, serif;
		font-size: 20px !important;
		font-weight: 1200 !important;
	}
	img {
		height: 40px !important;
		width: 40px !important;
		border-radius: 50%;
	}
	.lessnav {
		height: 72vh;
	}
	.about {
		display: none;
	}
	.conta {
		display: none;
	}
	.contacts {
		display: block;
	}
}
/* For Mobile phones */
@media screen and (max-width: 480px) and (min-width: 320px) {
	.header {
		padding: 1rem 0.5rem 0.5rem 0.5rem !important;
	}
	.mynav,
	.auth,
	.myprof {
		display: none;
	}
	.about,
	.contacts {
		display: block;
	}
	.logo {
		display: flex !important;
		justify-content: center !important;
		align-items: center !important;
		margin-top: 0.7rem;
		margin-bottom: 0.4rem;
	}
	.logo > h2 {
		font-size: 1rem !important;
	}
	.logo > img {
		font-size: 0.8rem !important;
	}
	.lessnav {
		margin-top: -0.7rem;
		padding: 0.2rem;
		height: 77vh;
	}
	.morenav {
		overflow-x: scroll;
	}
	.myprof {
		margin: 0.7rem !important;
	}
	.moreinfo {
		margin-left: 0.4rem;
	}
	.first {
		font-size: 0.7rem;
		margin-left: -2rem !important;
		margin-right: -2rem !important;
	}
	.item > button {
		margin-top: -0.9rem !important;
		font-size: 0.7rem !important;
	}
	.item {
	}
}

@media screen and (min-width: 992px) {
	.avatar {
		width: 3rem;
		height: 3rem;
		border-radius: 50%;
		background: red;
		text-align: center;
		font-size: 1.9rem;
		margin-right: 3rem;
	}
	.userdata {
		display: block !important;
	}
	.theming {
		display: none;

		margin-left: 4rem;
	}
}
/* 		sm: '576px',
		md: '768px',
		lg: '992px',
		xl: '1200px', */

/* 		[theme.breakpoints.up('lg', 'xl')]: {
			width: '2.9rem',
			height: '2.9rem',
			borderRadius: '50%',
			background: 'purple',
			color: 'yellow',
			textAlign: 'center',
			fontSize: '1.7rem',
			marginRight: '6rem',
		}, */
