.main {
	position: absolute;
	min-height: 85vh;
	overflow: hidden;
}
.main__score {
	display: flex;
	align-items: center;
	background-color: rgba(207, 203, 203);
}
.player1 {
	width: 20%;
}
.main__score > button {
	width: 9%;
}
