@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap');

// main/lightmode
.tutorial__container {
	min-height: 95vh;
	max-width: 100vw;
	background: lightgrey;
	.stack__games {
		display: flex;

		height: 100%;
	}
	// left side styling
	.game__cont {
		flex: 1.9;

		background: black;
		.list_games {
			height: 100%;
			background: black;
			display: flex;
			justify-content: center;
			align-items: center;
			ul {
				padding: 0.6rem;
				li {
					color: lightgrey;
					margin: 1.4rem;
					list-style: none;
				}
			}
		}
	}
	// right side styling
	.videos {
		flex: 8;
		background: grey;
	}
}
// darkmode
.darkmode {
	min-height: 95vh;
	max-width: 100vw;
	background: black;
}
